from {{ module_name }}.cli.main import cli
from tests.unit.helpers import check_output, match_output


class TestCli:
    def test_help(self):
        check_output(cli, "--help", expected_substring="{{ project_summary }}")

    def test_hello_in_help(self):
        check_output(cli, "--help", expected_substring="hello")


class TestHello:
    def test_hello_outputs_greeting(self):
        match_output(cli, "hello", expected_pattern=["Hello"])

    def test_hello_with_name(self):
        match_output(cli, "hello", "--name", "World", expected_pattern=["Hello, World"])

    def test_hello_help(self):
        check_output(cli, "hello", "--help", expected_substring="Name to greet")
