[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ project_summary }}"
authors = [
    {name = "{{ author_name }}", email ="{{ author_email }}"},
]
readme = "README.md"
license-files = ["LICENSE.md"]

requires-python = ">={{ python_versions[0] }}, ~={{ python_versions[-1] }}"

dependencies = [
    "auto-name-enum~=3.0",
    "fastapi~=0.115",
    "fastapi-buzz~=0.1",
    "loguru~=0.7",
    "py-buzz~=7.0",
    "pydantic-settings~=2.8",
    "whenever~=0.7",
]


[project.urls]
homepage = "https://github.com/{{ github_account }}/{{project_name}}"
source = "https://github.com/{{ github_account }}/{{project_name}}"
changelog = "https://github.com/{{ github_account }}/{{project_name}}/blob/main/CHANGELOG.md"

{% if include_demo %}
[project.optional-dependencies]
demo = [
    "rich~=14.0",
    "snick~=2.0",
    "typer~=0.15",
]

[project.scripts]
{{ module_name }}-demo = "{{ module_name }}_demo.main:main"
{% endif %}


[dependency-groups]
dev = [
    "debugpy~=1.8",
    "httpx~=0.28",
    "ipython~=8.18",
    "logot[loguru,pytest]~=1.3",
    "mkdocs-material~=9.6",
    "mkdocstrings[python]~=0.29",
    "pyclean~=3.1",
    "pygments~=2.19",
    "pytest~=8.3",
    "pytest-cov~=6.0",
    "pytest-mock~=3.14",
    "pytest-pretty~=1.2",
    "pytest-random-order~=1.1",
    "ruff~=0.11",
    "time-machine~=2.16",
    "ty~=0.0",
    "typos~=1.31",
    "uvicorn~=0.34",
]


[tool.uv]
package = true


[tool.pytest.ini_options]
addopts = [
    "--random-order",
    "--cov=src/{{ module_name }}",
    "--cov-report=term-missing",
    "--cov-fail-under=85",
    "--cov-report=xml:.coverage.xml",
    "--junitxml=.junit.xml",
    "--override-ini=junit_family=legacy",
]


[tool.ruff]
line-length = 120
src = ["src/{{ module_name }}", "tests"{% if include_demo %}, "src/{{ module_name }}_demo"{% endif %}{% if include_examples %}, "examples"{% endif %}]


[tool.ruff.format]
docstring-code-format = true


[tool.typos.default]
extend-ignore-identifiers-re = [
    "ane_auto",
    "function_ser_schema",
]


[build-system]
requires = ["uv-build>=0.1.0"]
build-backend = "uv_build"
